<ul *ngIf="employeeList.length>0">
  <li *ngFor="let employee of employeeList">
    <a [routerLink]="['/employee',employee.id]">
      <p class="w-50">name: {{employee.name}}</p>
      <p class="w-50 text-right">Id: {{employee.id}}</p>
      <p class="w-50">Gender: {{employee.gender}}</p>
      <p class="w-50 text-right">Address: {{employee.address}}</p>
    </a>
  </li>
</ul>
<h3 *ngIf="employeeList.length==0" class="text-center">Employees Not Found</h3>




<form [formGroup]="employeeForm">
  <div class="form-group">
    <input type="text" class="form-control w-100" formControlName="name" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control w-100" formControlName="id" name="id" placeholder="Employee ID"
      [readOnly]="isEdit">
  </div>
  <div class="form-group">
    <input type="text" class="form-control w-100" formControlName="gender" name="gender" placeholder="Gender">
  </div>
  <div class="form-group">
    <input type="text" class="form-control w-100" formControlName="address" name="address" placeholder="Address">
  </div>
</form>
<button (click)="add()" *ngIf="!isEdit">Add</button>
<button (click)="edit()" *ngIf="isEdit">Edit</button>
<button (click)="resetForm()" *ngIf="!isEdit">Reset</button>
